#alias ll='eza -alF'
#alias ls=eza
#alias la='eza -A'
alias l='ls -CF'

alias cdpro='cd ~/Projects'
alias cdgit='cd ~/Projects/git'
alias ..='cd ..'

alias k=kubectl

alias gs='git status'

alias update='sudo apt update && sudo apt upgrade && snap refresh && flatpak update'

